@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-size: 1.1111111111111112vw;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
   /* Max Font Size */
   @media screen and (min-width:1920px) {
    body {font-size: 21.333333333333332px;}
   }
   /* Container Max Width */
   .container {
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     margin: 0 auto;
   }
   /* Min Font Size */
  @media screen and (max-width:991px) {
    body {font-size: 12.011111111111111px;}
   }
   
   .vert{
    z-index: 10;
    display: block;
    text-transform: uppercase;
    line-height: 1.1;
    transform: rotate(-90deg) translateY(3rem);
    transform-origin: bottom left;
}
@media screen and (max-width:991px) {
  .vert {display: none;}
 }

 .footer {
position: fixed;
left: 50%;
bottom: 2rem;
transform: translate(-50%, -50%);
 }

 .footer-item:after {
  content: "|";
  padding: 0 4px;
}